@import 'null.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


/* =====================Общие записи===================== */

body {
    font-family: Lato;
    color:#424551;
    font-size: 16px;
}
.wrapper {
    box-sizing: border-box;
    overflow: hidden;
}
.container {
    width: 810px;
    margin: 0 0 0 345px;
}
/* ======================================================= */
.header {
    height: 210px;
    margin-top: 152px;
    margin-bottom: 40px;
}
.header__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    padding-top: 38px;
    color: #1E212C;
}
.main__image {
    margin-bottom: 60px;
}
.main__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 24px;
}
.main__text h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
}

.main__text p {
    line-height: 1.6;
}
.main__text-first {
    margin-bottom: 26px;
}
.main__text-second {
    margin-bottom: 48px;
}
.main__quote {
    margin-bottom: 48px;
}
.main__quote-text {
    display: inline-block;
    font-weight: 700;
    padding-left: 60px;
    font-size: 20px;
    line-height: 1.5;
}
.main__paragraph-text{
    line-height: 1.6;
    width: 810px;
    margin-bottom: 24px;
}
.main__list{
    margin-bottom: 25px;
    width: 600px;
}
.main__list-item {
    line-height: 1.6;
    margin-bottom: 4px;
    margin-left: 32px;
}
